{% extends 'base2.html.twig' %}

{% block title %}Liste des article!{% endblock %}

{% block body %}
     
<div class="jumbotron">
<a href="{{path('admin.form.article')}}" class="btn btn-primary"> nouvel article </a>                                      
</div>
    {% for article in articles %}

    <article>
                    
    <h2>{{article.title}}</h2>

    <div class = "metadata"> Ecrit le  21/10/2019 / {{article.categorie.titre}} 
    </div>
    <a href="{{path('admin.article.modif', {'id':article.id})}}" class="btn btn-info"> modifier </a>                              
    <a href="{{path('admin.article.sup', {'id':article.id})}}" class="btn btn-danger"> Supprimer </a>                              
                        
    </article> 
                
    </div>

    {% endfor %}
                        
        
    </div>

<div class="navigation">
    {{ knp_pagination_render(articles) }}
 </div>
{% endblock %}
