{% extends 'base2.html.twig' %}   
         
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

{{ form_start(formArticle) }}
{{ form_widget(formArticle.title) }}
{{ form_widget(formArticle.content) }}
{{ form_widget(formArticle.image) }}
{{ form_widget(formArticle.createdAt) }}
{{ form_widget(formArticle.resume) }}
{{ form_widget(formArticle.categorie) }}

<button type="submit" class="btn btn-success">envoyer</button>
{{ form_end(formArticle) }}

{% endblock %}


